body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

button{
    border:none;
    color:inherit;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
}
#header{
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

.links{
    display: flex;
    align-items: center;
    gap:16px;
    font-size: 18px;
    color: #e5e7e8;
}
a{
    color: white;
    text-decoration: none;
}

.awesome{
    background-color: #1F2937;
    display: flex;
    padding-left: 200px;
    padding-right:200px;
    align-items: center;
    padding-bottom:100px;
    gap:100px;
}

#main{
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8;
}

#secondary{
    font-size: 18px;
    color: #e5e7eb;
}

.buttonone, .buttontwo{
    background-color: #3882F6;
    max-width: fit-content;
    border-radius: 8px;
    padding:8px 32px;
    margin-top: 8px;
}


.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 80px;
}

.infotitle{
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    padding-bottom: 36px;
}

.infogallery{
    display: flex;
    gap:16px
}

.infogalleryitem{
    display:flex;
    flex-direction: column;
}

.infoimg{
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
    color:#1F2937
}

.quotation{
    font-style: italic;
    font-size: 36px;

    /*
    font weight does not work...*/
    font-weight: 100;
    
}

.quoter{
    font-weight: 900;
    font-size:24px;
    text-align: right;
    padding:16px
}

.sign{
    display: flex;
    justify-content:center;
    align-items: center;
   padding:96px 0
}

.container{
    display: flex;
    background-color: #3882F6;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    padding:40px 16px;
    border-radius: 8px;
    gap:36px;
    color:#f9faf8;
}
.signtextone{
    font-size: 24px;
    font-weight: 900;
}

.buttontwo{
    border:2px solid #f9faf8;
    font-size: 18px;
    font-weight: 900;
    box-sizing:content-box
}

.footer{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1F2937;
    color:#f9faf8;
    padding-top: 40px;
    padding-bottom: 40px;
}
